{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bursary Home{% endblock %}</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'provider_app/provider_app.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="{% block page_container_class %}page-container{% endblock %}">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/modal_handler.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
